/* code css here */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.button-feature {
    position: absolute;
    top: 42%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

.feature-item-text-post {
    position: relative;
}

.feature-item-text-post {
    overflow: hidden;
}

.feature-item-text-post img {
    width: 100%;
}

address {
    margin: auto 0;
}

.copyright-content {
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 2px solid #292929;
}

.copyright {
    background-color: black;
    color: #c5c5c5;
}

.hover-image {
    position: absolute;
    width: 99%;
    height: 99%;
    z-index: 100;
    display: none;
    top: 0;
    background-color: #4141e263;
}

.hover-image:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: blue;
    z-index: 100;
}

.search {
    position: absolute;
    min-width: 300px;
    padding: 0.7rem;
    margin: auto;
    bottom: -49%;
    font-size: 1rem;
    display: none;
    left: 13%;
    background-color: #2f7dfc;
    color: white;
    outline: none;
    border: none;
}

.search::placeholder {
    color: white;
}

header {
    position: relative;
}

.menu-dropdown {
    position: absolute;
    top: 84px;
    left: 24px;
    width: 150px;
    background-color: #2f7dfc;
    color: white;
    display: none;
}

.menu-dropdown>li {
    padding: 1rem 0 1rem 1rem;
}

.menu-dropdown>li:hover {
    color: yellow;
    transition: 0.3s;
}

.social-icon {
    padding-right: 1rem;
}

.social-icon-list {
    display: flex;
    justify-content: flex-start;
    margin-top: 3rem;
}

.subcribe {
    position: relative;
    margin-top: 1rem;
}

.subcribe>input {
    padding: 1.03rem;
    width: 100%;
    /* position: relative; */
    border: 1px solid #2f7dfc;
    /* font-size: 1rem; */
    background-color: black;
    font-weight: 600;
    color: white;
}

ul.footer-list-list>li {
    margin: 1rem 0;
    cursor: pointer;
}

ul.footer-list-list>li:hover {
    color: #fff700;
    transition: 0.3s;
    font-size: 1.2rem;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 9rem 0;
}

#subcribe {
    flex: 33.33% 0 0;
}

#address {
    flex: 25% 0 0;
}

#company {
    flex: 16.67% 0 0;
}

#category {
    flex: 16.67% 0 0;
}

section.service {
    padding: 9rem 0;
    background-color: white;
    margin: 9rem 0 0;
}

product-imag:hover {
    transform: scale(1.5);
}

.product-option a {
    /* padding: 1rem; */
    /* background-color: white; */
    /* border-radius: 51%; */
    /* width: 50px; */
    /* height: 50px; */
    margin: 0 1rem;
}

.small-product {
    width: 28%;
    max-width: 28%;
    padding-bottom: 1rem;
    position: relative;
}

.big-product {
    width: 39%;
    max-width: 39%;
    position: relative;
}

.small-product img {
    width: 100%;
    height: 396px;
}

.product-info {
    text-align: center;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 7rem;
    transition: 0.5s;
    width: 100%;
    height: 95%;
    background-color: #4343ffb5;
    color: white;
}

.product-info h4,
h2,
.star,
h3 {
    padding-bottom: 1rem;
}

.footer-title {
    font-size: 1.5rem;
}

.big-product img {
    max-width: 533px;
    height: 396px;
}

.product-image {
    overflow: hidden;
    cursor: pointer;
}

.popular-product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.arrival-list {
    display: flex;
}

.arrival-list li {
    /* padding: 0 2rem; */
    text-align: center;
    font-weight: 700;
    margin: auto 1rem;
    cursor: pointer;
}

.arrival-list li:first-child {
    color: #4646e2;
    border-bottom: 3px solid #4646e2;
}

.arrival-title h1 {
    font-size: 2.8rem;
    font-weight: 700;
}

.arrival-nav {
    padding: 7rem 2rem;
    display: flex;
    justify-content: space-between;
}

.feature-item {
    flex: 0 0 32.333333%;
    max-width: 33.333333%;
    margin: 1rem 0rem;
    overflow: hidden;
    background-size: cover;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    /* transition: 0.7s; */
}

.feature-item:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 0.5s;
    transform: scale(1.04);
}

input[type="button"] {
    background-color: #2f7dfc;
    -webkit-border-horizontal-spacing: unset;
    color: white;
    -webkit-font-size-delta: 1rem;
    font-weight: 600;
    padding: 1.3rem 3.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.75s;
}

input.btn-footer {
    padding: 1rem;
    width: 6rem;
    position: absolute;
    top: 0;
    font-weight: 500;
    right: 0;
    /* border: 1px solid #2f7dfc; */
}

input[type="button"]:hover {
    background-color: white;
    color: #2f7dfc;
    transition: 1s;
}

.banner-text h1 {
    font-size: 6rem;
    width: 65%;
    font-weight: bold;
    padding: 1rem 0 2.5rem;
}

.banner-text h2 {
    font-weight: 500;
    letter-spacing: 0.15rem;
}

.banner-content {
    padding: 13rem 2rem;
}

#search-icon {
    cursor: pointer;
    color: #8c8c8c;
}

#cart-icon {
    margin-right: 2em;
    cursor: pointer;
    color: #4e4c4c;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

.container {
    margin: 0 auto;
    padding: 0 73px;
}

.dropdown {
    padding: 2rem 1.5rem;
    cursor: pointer;
}

.drop {
    position: relative;
}

.drop:hover .menu-dropdown {
    display: block;
}

.drop:after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: 0.15em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.cart-search {
    display: flex;
    margin: auto 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
}

.copyright-list>li {
    padding: 0 1rem;
}

.copyright-list {
    display: flex;
}

.copyright-list>li>a {
    color: #b3b3b3;
}

.copyright-list>li>a:hover {
    color: yellow;
}

.footer-list {
    padding: 0 2rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.instagram-photo-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.instagram-photo-list>li>img {
    max-width: 100%;
}

.instagram-photo-list>li>img:hover {
    opacity: 0.7;
    transform: rotate(360deg);
    transition: 1s;
}

.instagram-photo-list>li>img:hover .hover-image {
    transform: scale(1.1);
    opacity: 0.8;
    /* display: block; */
}

.instagram-photo-list>li {
    flex: 20% 0 0;
    z-index: 2;
    padding: 0 4px 0;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.service-list {
    padding: 0 2rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto auto auto auto;
}

.service-list>li>h3 {
    padding-top: 2rem;
}

.service-list>li>p {
    color: #606060;
    font-size: 1rem;
    line-height: 2rem;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    /* overflow: hidden; */
    padding: 0;
    justify-content: space-between;
}

.menu-list {
    display: flex;
}

a {
    text-decoration: none;
}

.logo {
    margin: auto 0;
}

.banner {
    background-image: url("../img/banner_img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

i.fa.fa-cart-plus {
    color: #4f4d5f;
    /* width: 50px; */
    /* height: 50px; */
    font-size: 1.2rem;
    border-radius: 50%;
    padding: 0.95rem;
    transition: 0.5s;
    background-color: white;
}

i.fa.fa-cart-plus:hover {
    background-color: #2f7dfc;
    color: white;
}

i.fa.fa-heart {
    color: red;
    /* width: 50px; */
    /* height: 50px; */
    border-radius: 50%;
    transition: 0.5s;
    padding: 1rem;
    background-color: white;
}

i.fa.fa-heart:hover {
    background-color: #2f7dfc;
    color: white;
    transition: 0.5s;
}

i.fa.fa-star {
    color: yellow;
}

.fade {
    animation: fade 3s infinite
}

@keyframes fade {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}

i.fa.fa-cart-arrow-down {
    font-size: 1.2rem;
}

i.fa.fa-facebook {
    /* padding: 1rem; */
    height: 50px;
    width: 50px;
    padding: 16px 20px;
    background-color: #1a1a1a;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}

i.fa.fa-facebook:hover {
    background: #4040ef;
    color: white;
}

i.fa.fa-twitter {
    padding: 1rem;
    height: 50px;
    width: 50px;
    padding: 16px 18px;
    background-color: #1a1a1a;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}

i.fa.fa-twitter:hover {
    background: #4a4aff;
    color: white;
}

i.fa.fa-instagram {
    height: 50px;
    width: 50px;
    padding: 16px 18px;
    background-color: #1a1a1a;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}

i.fa.fa-instagram:hover {
    background: #f12929;
    color: white;
}

.animate-bottom {
    /* position: relative; */
    animation: animatebottom 0.5s;
    transition: 0.5s;
}

@keyframes animatebottom {
    from {
        height: 0px;
        opacity: 0;
    }
    to {
        opacity: 1;
        height: max-content;
    }
}

#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

.animate-left {
    animation: animateleft 0.4s
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }
    to {
        left: 13%;
        opacity: 1
    }
}

.nav-icon {
    /* align-items: center; */
    margin: 2rem 0 2rem;
    display: none;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: .25rem
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: .5rem
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "/"
}

.breadcrumb-item+.breadcrumb-item:hover::before {
    text-decoration: underline
}

.breadcrumb-item+.breadcrumb-item:hover::before {
    text-decoration: none
}

.breadcrumb-item.active {
    color: #6c757d
}

.path-container {
    padding: 0 2rem;
}